<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  
  <providers embedded="Config.providers.config, DAO"/>
  
	<!-- Database connection information -->
	<database>
		<provider name="sqlServer2.0"/>
		<dataSource name="mssqlcon" connectionString="Data Source=.\SAMSVX;Initial Catalog=tmpDB;User ID=sa;Password=3919;"/>
	</database>

	<sqlMaps>
    <sqlMap embedded="Maps.hrinfo.xml, DAO"/>
    <sqlMap embedded="Maps.Student.xml, DAO"/>
	</sqlMaps>
  
</sqlMapConfig>